<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		

		<add key="DBType" value="mysql" />
		<add key="SlaveCount" value="1" />
		<add key="CurrentLineName" value="Station1" />
		
		<add key="masterConnectString" value="Host=192.168.5.24;Port=5432;User Id=postgres;Password=123456@Qq;Database=HT_HN_data;" />
		<add key="slaveConnectString1" value="Host=192.168.5.24;Port=5432;User Id=postgres;Password=123456@Qq;Database=HT_HN_data;" />
		
		
		
		<add key="CurrentStationID" value="1" />
		<add key="TemporaryExcelPath" value="C:\Users\ZY\Desktop\机型拉杆对应表.csv" />
		<add key="TemporaryOutputExcelPath" value="E:\\" />
		
		
		
		
		
		
	</appSettings>
	
</configuration>